<div class="column-third">
  <section class="font-xsmall" id="bank-details">
    <h2 class="heading-medium" id="bank-details-content">{{ t("help.bank.h2") }}</h2>
    <p class="compound">{{ t("help.bank.details") }}</p>
  </section>

  <section class="font-xsmall" id="help">
    <h2 class="heading-medium" id="helpcontent">{{ t("help.h2") }}</h2>
    <h3 class="heading-small compound-second">{{ t("help.telephone.label") }} {{ t("help.telephone.number") }}</h3>
    <p class="compound">{{ t("help.hours.line1") }}</p>
    <p class="compound">{{ t("help.hours.line2") }}</p>
  </section>
</div>
