<ul class="platform-help-links">
    <li><a href="/cookie-policy" target="_blank">{{ t("app:navigation.cookies") }}</a></li>
    <li><a data-journey-click="{{ t("google-analytics:footer.ni-privacy") }}" id="privacy-policy" href="https://www.gov.uk/government/organisations/department-for-work-pensions/about/personal-information-charter" target="_blank" class="external-link" rel="external">{{ t("app:navigation.privacy") }}</a></li>
    <li><a data-journey-click="{{ t("google-analytics:footer.privacy") }}" id="privacy-policy--northern-ireland" href="https://www.communities-ni.gov.uk/sites/default/files/publications/communities/dfc-privacy-notice.pdf" target="_blank" class="external-link" rel="external">{{ t("app:navigation.northernIreland.privacy") }}</a></li>
</ul>