.coverage/
.git/
.nyc_output/
.vscode/
.sonarlint/
docker/Dockerfile
node_modules/
test/
.commitlintrc.js
.editorconfig
.env.example
.eslintignore
.eslintrc.js
.gitignore
.huskyrc
.nvmrc
.nycrc
.sass-lint.yml
.travis.yml
CHANGELOG.md
CONTRIBUTING.md
docker-compose.yaml
gulp-package.js
LICENSE
Makefile
README.md
npm-debug.log
renovate.json
sonar-project.properties
