version: "3"
services:
  redis:
    image: redis@sha256:8888f6cd2509062a377e903e17777b4a6d59c92769f6807f034fa345da9eebcf
    expose:
      - 6379
  frontend:
    build: ./
    command: npm start
    depends_on:
      - redis
    volumes:
      - ./:/usr/src/app
    ports:
      - "3001:3001"
    environment:
      REDIS_HOST: redis
      AWS_ACCESS_KEY_ID: ${AWS_ACCESS_KEY_ID}
      AWS_SECRET_ACCESS_KEY: ${AWS_SECRET_ACCESS_KEY}
      CUSTOMERAPIGATEWAY: ${CUSTOMER_API_GATEWAY}
      NODE_EXTRA_CA_CERTS: ${NODE_EXTRA_CA_CERTS}
