version: "3"
services:
  redis:
    image: redis@sha256:a89cb097693dd354de598d279c304a1c73ee550fbfff6d9ee515568e0c749cfe
    command: redis-server --requirepass password
    expose:
      - 6379
  customerfrontend:
    build:
      context: .
      dockerfile: ./docker/Dockerfile
    command: npm start
    depends_on:
      - redis
    volumes:
      - ./:/home/node/customer-frontend
      - /home/node/customer-frontend/node_modules/
    ports:
      - 3001:3001
      - 9229:9229
