version: "3"
services:
  redis:
    image: redis@sha256:e73ef998c22f9a98793d9951bb2915cd945d8fa6f9ec1b324e85d19617efc2fd
    expose:
      - 6379
  web:
    build: .
    command: npm server
    depends_on:
      - redis
    volumes:
      - customer_nodemodules:/usr/src/app/node_modules
      - ./:/usr/src/app
    ports:
      - 3001:3001
volumes:
  customer_nodemodules:
    external: true
