{% extends '../helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}
{% import 'helpers/sort-code.html' as sortcodeHelper %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("account:header") }}{% endblock %}

{% block content %}

  {% if errors %}
    {{ govukErrorSummary({
      titleText: t("account:errors.header"),
      errorList: errors.errorSummary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t("account:header") }}</h1>
      {{ govukInsetText({
        text: t("account:hintText"),
        id: 'hintText'
      }) }}
      <form method="post" action="account-details" autocomplete="off" novalidate>
          {{ govukInput({
            id: "bankAccountHolder",
            name: "bankAccountHolder",
            type: "text",
            label: {
              text: t("account:fields.accountHolder.label")
            },
            attributes: {
              'data-journey-click': t("google-analytics:pages.account-details.account-number", {VALUE: "bank"})
            },
            value: details.bankAccountHolder,
            errorMessage: errors.bankAccountHolder
          }) }}

          {{ govukInput({
            id: "bankSortCode",
            name: "bankSortCode",
            type: "text",
            hint: {
              "text": t("account:fields.sortCode.hint")
            },
            classes: "govuk-input--width-5",
            label: {
              text: t("account:fields.sortCode.label")
            },
            attributes: {
              'data-journey-click': t("google-analytics:pages.account-details.sort-code", {VALUE: "bank"})
            },
            value: details.bankSortCode,
            errorMessage: errors.bankSortCode
          }) }}

          {{ govukInput({
            id: "bankAccountNumber",
            name: "bankAccountNumber",
            type: "text",
            hint: {
              "text": t("account:fields.accountNumber.hint")
            },
            classes: "govuk-input--width-10",
            label: {
              text: t("account:fields.accountNumber.label")
            },
            attributes: {
              'data-journey-click': t("google-analytics:pages.account-details.account-number", {VALUE: "bank"})
            },
            value: details.bankAccountNumber,
            errorMessage: errors.bankAccountNumber
          }) }}

          {{ govukInput({
            id: "buildingRoll",
            name: "buildingRoll",
            type: "text",
            hint: {
              "text": t("account:fields.buildingRoll.hint")
            },
            classes: "govuk-input--width-10",
            label: {
              text: t("account:fields.buildingRoll.label")
            },
            hint: {
              text: t("account:fields.buildingRoll.hint")
            },
            attributes: {
              'data-journey-click': t("google-analytics:pages.account-details.building-society-number")
            },
            value: details.buildingRoll,
            errorMessage: errors.buildingRoll
          }) }}

        {{ govukButton({
          text: t("app:button.continue"),
          attributes: {
            id: 'form-submit',
            'data-ga-check': 'check-if-bank-page'
          }
        }) }}
      </form>
    </div>

  {{ help.sideBar(t, isNorthernIreland, isOverseas, true) }}

  </div>

{% endblock %}
