{% extends '../helpers/layout.html' %}
{% from 'govuk/components/back-link/macro.njk' import govukBackLink %}

{% block pageTitle %}{{ t("auth-error-address:header") }} - {{ t("app:service_name") }}{% endblock %}

{% block backLink %}
  {{ govukBackLink({
    html: t("app:link.back") + '<span class="govuk-visually-hidden"> ' + t("navigation.general") + ' ' + t("navigation.auth") + '</span>',
    href: page.backHref
  }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{ t("auth-error-address:header") }}</h1>

    <p class="govuk-body">{{ t("auth-error-address:p1") }}</p>


    <p class="govuk-body">{{ t("auth-error-address:p2") }}</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ t("auth-error-address:uk.header") }}</h2>

    <p class="govuk-body">
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:uk.telephone_label") }}</span> {{ t("auth-error-address:uk.telephone_text") }}
      <br />
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:uk.textphone_label") }}</span> {{ t("auth-error-address:uk.textphone_text") }}
    </p>
    <p class="govuk-body compound__no-top">{{ t("auth-error-address:uk.p1") }}</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ t("auth-error-address:ni.header") }}</h2>
    <p class="govuk-body compound__s-bottom">
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:ni.telephone_label") }}</span> {{ t("auth-error-address:ni.telephone_text") }}
      <br />
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:ni.textphone_label") }}</span> {{ t("auth-error-address:ni.textphone_text") }}
    </p>
    <p class="govuk-body compound__no-top">{{ t("auth-error-address:ni.p1") }}</p>

    <h2 class="govuk-heading-s govuk-!-margin-bottom-1">{{ t("auth-error-address:overseas.header") }}</h2>
    <p class="govuk-body compound__s-bottom">
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:overseas.telephone_label") }}</span> {{ t("auth-error-address:overseas.telephone_text") }}
      <br />
      <span class="govuk-!-font-weight-bold">{{ t("auth-error-address:overseas.textphone_label") }}</span> {{ t("auth-error-address:overseas.textphone_text") }}
    </p>
    <p class="govuk-body compound__no-top ">{{ t("auth-error-address:overseas.p1") }}</p>
  </div>

</div>


{% endblock %}
