{% extends '../helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("benefits:header") }}{% endblock %}

{% block content %}

{% if errors %}
  {{ govukErrorSummary({
    titleText: t("benefits:errors.header"),
    errorList: errors.errorSummary
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="are-you-receiving-any-benefits" autocomplete="off">

      {{ govukRadios({
        errorMessage: errors.receivingBenefits,
        classes: "govuk-radios--inline",
        name: "receivingBenefits",
        fieldset: {
          legend: {
            text: t("benefits:fields.receivingBenefits.legend"),
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-9"
          },
          attributes: {
            id: "receivingBenefits"
          }
        },
        items: [{
          id: "receivingBenefits-yes",
          value: "yes",
          text: t("benefits:fields.receivingBenefits.options.yes"),
          attributes: {
            "data-dimension-click": t("google-analytics:pages.benefits.status", {VALUE: "yes"})
          },
          checked: true if details.receivingBenefits == 'yes' else false
        }, {
          id: "receivingBenefits-no",
          value: "no",
          text: t("benefits:fields.receivingBenefits.options.no"),
          attributes: {
            "data-dimension-click": t("google-analytics:pages.benefits.status", {VALUE: "no"})
          },
          checked: true if details.receivingBenefits == 'no' else false
        }]
      }) }}

      {{ govukButton({
          text: t("app:button.continue"),
          attributes: {
            id: "form-submit"
          }
        }) }}
    </form>
  </div>

  {{ help.sideBar(t, isNorthernIreland, isOverseas) }}

</div>
{% endblock %}
