{% extends '../helpers/layout.html' %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("invitation-code:header") }}{% endblock %}

{# Remove timeout dialog #}
{% block timeoutDialog %}{% endblock %}

{% block content %}

  {% if errors %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        {{ govukErrorSummary({
          titleText: t("invitation-code:errors.header"),
          errorList: errors.errorSummary
        }) }}
      </div>
    </div>
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="invitation-code" autocomplete="off" novalidate>
        {{ govukRadios({
          name: "hasInvitationCode",
          errorMessage: errors.hasInvitationCode,
          fieldset: {
            legend: {
              text: t("invitation-code:fields.hasInvitationCode.legend"),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-9"
            },
            attributes: {
              id: "hasInvitationCode"
            }
          },
          items: [{
            id: "hasInvitationCode-yes",
            value: "yes",
            text: t("invitation-code:fields.hasInvitationCode.options.yes.label"),
            label: {
              classes: "govuk-label--s"
            },
            hint: {
              text: t("invitation-code:fields.hasInvitationCode.options.yes.hint")
            }
          }, {
              id: "hasInvitationCode-no",
              value: "no",
              text: t("invitation-code:fields.hasInvitationCode.options.no.label"),
              label: {
                classes: "govuk-label--s"
              },
              hint: {
                text: t("invitation-code:fields.hasInvitationCode.options.no.hint")
              }
          }]
        }) }}

        {{ govukButton({
          text: t("app:button.continue"),
          attributes: {
            id: "form-submit"
          }
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
