{% extends '../helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("marital-select:header") }}{% endblock %}

{% block content %}

{% if errors %}
  {{ govukErrorSummary({
    titleText: t("marital-select:errors.header"),
    errorList: errors.errorSummary
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form method="post" action="what-is-your-current-marital-status" autocomplete="off" novalidate>
      {{ govukRadios({
          errorMessage: errors.maritalStatus,
          name: "maritalStatus",
          fieldset: {
            legend: {
              text: t("marital-select:header"),
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl govuk-!-margin-bottom-9"
            },
            attributes: {
              id: "maritalStatus"
            }
          },
          items: [{
            id: "maritalStatus-single",
            value: "single",
            text: t("marital-select:fields.maritalStatus.options.single"),
            checked: checked(details.maritalStatus, 'single')
          }, {
            id: "maritalStatus-married",
            value: "married",
            text: t("marital-select:fields.maritalStatus.options.married"),
            checked: checked(details.maritalStatus, 'married')
          }, {
            id: "maritalStatus-civil",
            value: "civil",
            text: t("marital-select:fields.maritalStatus.options.civil"),
            checked: checked(details.maritalStatus, 'civil')
          }, {
            id: "maritalStatus-widowed",
            value: "widowed",
            text: t("marital-select:fields.maritalStatus.options.widowed"),
            checked: checked(details.maritalStatus, 'widowed')
          }, {
            id: "maritalStatus-divorced",
            value: "divorced",
            text: t("marital-select:fields.maritalStatus.options.divorced"),
            checked: checked(details.maritalStatus, 'divorced')
          }, {
            id: "maritalStatus-dissolved",
            value: "dissolved",
            text: t("marital-select:fields.maritalStatus.options.dissolved"),
            checked: checked(details.maritalStatus, 'dissolved')
          }]
        }) }}

        {{ govukButton({
          text: t("app:button.continue"),
          attributes: {
            id: "form-submit"
          }
        }) }}

    </form>

  </div>

  {{ help.sideBar(t, isNorthernIreland, isOverseas) }}

</div>
{% endblock %}
