{% extends '../helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}

{% block pageTitle %}{{ t('pension-start-date-error:header') }}{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  <h1 class="govuk-heading-xl no-margin-top">{{ t('pension-start-date-error:header') }}</h1>

  <p class="govuk-body">{{ t('pension-start-date-error:p1') }}</p>

  <p class="govuk-body">{{ t('pension-start-date-error:p2') }}</p>

  <p class="govuk-body">{{ t('pension-start-date-error:p3', {startPensionDatePage: startPensionDatePage}) | safe }}</p>

</div>

    {{ help.sideBar(t, isNorthernIreland, isOverseas) }}

</div>
{% endblock %}
