{% extends '../helpers/layout.html' %}

{% block pageTitle %}{{ t("verify-cancel:header") }}{% endblock %}

{% block content %}

 <div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl no-margin-top">{{ t("verify-cancel:header") }}</h1>

    <p class="govuk-body">{{ t("verify-cancel:lead") }}</p>

    <p class="govuk-body">{{ t("verify-cancel:p") }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t("verify-cancel:call_centres.uk.header") }}</h2>
    <p class="govuk-body govuk-!-margin-bottom-1"><strong>{{ t("verify-cancel:call_centres.uk.telephone.label") }}</strong> {{ t("verify-cancel:call_centres.uk.telephone.number") }}</p>
    <p class="govuk-body govuk-!-margin-bottom-2"><strong>{{ t("verify-cancel:call_centres.uk.textphone.label") }}</strong> {{ t("verify-cancel:call_centres.uk.textphone.number") }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t("verify-cancel:call_centres.uk.hours.line1") }}</p>
    <p class="govuk-body">{{ t("verify-cancel:call_centres.uk.hours.line2") }}</p>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-2">{{ t("verify-cancel:call_centres.northern_ireland.header") }}</h2>
    <p class="govuk-body govuk-!-margin-bottom-1"><strong class="bold-small">{{ t("verify-cancel:call_centres.northern_ireland.telephone.label") }}</strong> {{ t("verify-cancel:call_centres.northern_ireland.telephone.number") }}</p>
    <p class="govuk-body govuk-!-margin-bottom-2"><strong class="bold-small">{{ t("verify-cancel:call_centres.northern_ireland.textphone.label") }}</strong> {{ t("verify-cancel:call_centres.northern_ireland.textphone.number") }}</p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ t("verify-cancel:call_centres.northern_ireland.hours.line1") }}</p>
    <p class="govuk-body">{{ t("verify-cancel:call_centres.northern_ireland.hours.line2") }}</p>
  </div>
</div>


{% endblock %}
