{% extends 'helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("request-invitation-address:header") }}{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: t("app:error-summary.header"),
      errorList: errors.errorSummary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="home-address" autocomplete="off" novalidate>
        <span class="govuk-caption-l">{{ t("app:section.request-invitation.caption") }}</span>
        <h1 class="govuk-heading-xl">{{ t("request-invitation-address:header") }}</h1>

        {{ govukInput({
          id: "nameNumber",
          name: "nameNumber",
          classes: "govuk-!-width-two-thirds",
          label: {
            text: t("request-invitation-address:fields.nameNumber.label")
          },
          value: details.nameNumber,
          autocomplete: "address-line1",
          errorMessage: errors.nameNumber
        }) }}

        {{ govukInput({
          id: "postcode",
          name: "postcode",
          classes: "govuk-!-width-one-third",
          label: {
            text: t("request-invitation-address:fields.postcode.label")
          },
          value: details.postcode,
          autocomplete: "postal-code",
          errorMessage: errors.postcode
        }) }}

        {{ govukButton({
          text: t("app:button.continue"),
          attributes: {
            id: 'form-submit'
          }
        }) }}
      </form>
    </div>

    {{ help.sideBar(t, isNorthernIreland, isOverseas) }}
  </div>

{% endblock %}
