{% extends 'helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block pageTitle %}{% if errors %}{{ t("app:title.error") }} {% endif %}{{ t("request-invitation-address:header") }}{% endblock %}

{% block content %}
  {% if errors %}
    {{ govukErrorSummary({
      titleText: t("app:error-summary.header"),
      errorList: errors.errorSummary
    }) }}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{ t("app:section.request-invitation.caption") }}</span>
      <h1 class="govuk-heading-xl">{{ t("request-invitation-address:header") }}</h1>
    </div>

    {{ help.sideBar(t, isNorthernIreland, isOverseas) }}
  </div>

{% endblock %}
