{% extends 'helpers/layout.html' %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}{{ t("request-invitation-complete:header") }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set panelTitleText %}
          {{ t("request-invitation-complete:header") }}
      {% endset -%}

      {{ govukPanel({
        headingLevel: 1,
        titleText: panelTitleText,
        text: t("request-invitation-complete:header-ref")
      }) }}

      <h2 class="govuk-heading-m">{{ t("request-invitation-complete:h2") }}</h2>

      <p class="govuk-body">{{ t("request-invitation-complete:p1") }}</p>

      <p class="govuk-body">{{ t("request-invitation-complete:p2") }}</p>

    </div>
  </div>
{% endblock %}
