{% extends 'helpers/layout.html' %}
{% import 'helpers/help-side.html' as help %}

{% block pageTitle %}{{ t("request-invitation:header") }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">{{ t("request-invitation:header") }}</h1>

      <p class="govuk-body">{{ t('request-invitation:p1') }}</p>

      <p class="govuk-body">{{ t('request-invitation:list1.p') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>{{ t("request-invitation:list1.li1") }}</li>
        <li>{{ t("request-invitation:list1.li2") }}</li>
      </ul>

      <p class="govuk-body">{{ t('request-invitation:p2') }}</p>

      {{ govukButton({
        text: t("request-invitation:button"),
        href: "request-invitation-code/your-name",
        attributes: {
          id: "continue"
        }
      }) }}
    </div>

    {{ help.sideBar(t, isNorthernIreland, isOverseas) }}
  </div>
{% endblock %}
