{% macro sideBar(t, isNorthernIreland = 'neither', isOverseas = false, bankHelp = false) %}
  {% set gbDefaultHtml %}
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">{{ t("help.telephone.label") }} {{ t("help.gb.telephone.number") }}</p>
    <p class="govuk-body govuk-!-margin-top-0 govuk-!-font-weight-bold">{{ t("help.textphone.label") }} {{ t("help.gb.textphone.number") }}</p>

    <p class="govuk-body">{{ t("app:alternative-contact.gb.option-1", { URL: 'https://www.relayuk.bt.com/', TELEPHONE: '0800 169 0154' }) | safe }}</p>

    <p class="govuk-body">{{ t("app:alternative-contact.gb.option-2", { URL: 'https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl' }) | safe }}</p>

    {% if isNorthernIreland != 'neither' %}
      <p class="govuk-body">{{ t("app:alternative-contact.gb.option-3", { URL: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</p>
    {% endif %}

    <p class="govuk-body">{{ t("help.gb.hours.line1") }}</p>
  {% endset %}

  {% set niDefaultHtml %}
    <p class="govuk-body govuk-!-margin-bottom-0 govuk-!-font-weight-bold">{{ t("help.telephone.label") }} {{ t("help.ni.telephone.number") }}</p>
    <p class="govuk-body govuk-!-margin-top-0 govuk-!-font-weight-bold">{{ t("help.textphone.label") }} {{ t("help.ni.textphone.number") }}</p>

    <p class="govuk-body">{{ t("app:alternative-contact.ni.option-1", { URL: 'https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl' }) | safe }}</p>

    <p class="govuk-body">{{ t("app:alternative-contact.ni.option-2", { URL: 'https://portal.starleaf.com/webrtc?name=DfCNIDWP&target=DfCNIDWP%40interpreterslive.call.sl' }) | safe }}</p>

    {% if isNorthernIreland != 'neither' %}
      <p class="govuk-body">{{ t("app:alternative-contact.ni.option-3", { URL: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</p>

      <p class="govuk-body">{{ t("app:alternative-contact.ni.option-4", { URL: 'https://www.youtube.com/watch?v=9XnB8pMZZ6k' }) | safe }}</p>
    {% endif %}

    <p class="govuk-body">{{ t("help.ni.hours.line1") }}</p>
  {% endset %}

  <div class="govuk-grid-column-one-third">
    {% if bankHelp %}
      <section id="bank-details">
        <h2 class="govuk-heading-m" id="bank-details-content">{{ t("help.bank.h2") }}</h2>
        <p class="govuk-body compound">{{ t("help.bank.details") }}</p>
      </section>
    {% endif %}

    <section id="help">
      <h2 class="govuk-heading-m" id="helpcontent">{{ t("help.h2") }}</h2>

      {% if isOverseas == true %}
        <p class="govuk-body govuk-!-font-weight-bold">{{ t("help.overseas.telephone.label") }} {{ t("help.overseas.telephone.number") }}</p>
        <p class="govuk-body">{{ t("app:alternative-contact.gb.option-2", { URL: 'https://portal.starleaf.com/webrtc?name=DWP&target=DWP@interpreterslive.call.sl' }) | safe }}</p>
        <p class="govuk-body">{{ t("app:alternative-contact.gb.option-3", { URL: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</p>
        <p class="govuk-body">{{ t("help.overseas.hours.line1") }}</p>
      {% elif isNorthernIreland == false %}
        {{ gbDefaultHtml | safe }}
      {% elif isNorthernIreland == true %}
        {{ niDefaultHtml | safe }}
      {% elif isNorthernIreland === 'neither' %}
        <h3 class="govuk-heading-s">{{ t("help.gb.header") }}</h2>
        {{ gbDefaultHtml | safe }}

        <h3 class="govuk-heading-s">{{ t("help.ni.header") }}</h2>
        {{ niDefaultHtml | safe }}

        <h3 class="govuk-heading-s">{{ t("help.how-to-video-relay.header") }}</h2>
        <p class="govuk-body">{{ t("app:alternative-contact.gb.option-3", { URL: 'https://www.dalanguages.co.uk/dwp-bsl/' }) | safe }}</p>
        <p class="govuk-body">{{ t("app:alternative-contact.ni.option-4", { URL: 'https://www.youtube.com/watch?v=9XnB8pMZZ6k' }) | safe }}</p>
      {% endif %}
    </section>
  </div>
{% endmacro %}