<details class="panel panel-border-narrow">
    <summary><span class="summary">{{ t("help.northernIreland.summaryText") }}</span></summary>
    <div class="margin--top">
        <h3 class="heading-small compound">{{ t("start:help.northernIreland.h3") }}</h3>
        <p class="compound">{{ t("start:help.northernIreland.phone.label") }} {{ t("start:help.northernIreland.phone.number") }}<br /> {{ t("start:help.northernIreland.textphone.label")
            }} {{ t("start:help.northernIreland.textphone.number") }}
        </p>

        <p class="compound">{{ t("start:help.northernIreland.p1") }}</p>
    </div>
</details>
